<!DOCTYPE html>
<html>
<head> <h3> welcome for your registration</h3> 
<h5>cela ne prendra que deux secondes, courage !</h5></head>
<body>

<form action="/registration" method="get">
      <p>First name : <input type="text" name="firstname"></input></p>
      <p>Last name : <input type="text" name="lastname"></input></p>
      <p>Gender :
        <input type="radio" name="gender" value="M">Male</input>
        <input type="radio" name="gender" value="F">Female</input>
        <input type="radio" name="gender" value="X">Denis</input>
      </p>
      <p>Email : <input type="email" name="email"></input></p>
      <p>Password : <input type="password" name="password"></input></p>
      <p>Confirm password : <input type="password" name="confirmPassword"></input></p>
      <p> modérateur ? : <input type="password" name="admin"></input></p>
      <p><input type="submit" value="Login!"></input></p>
    </form>
 

</body>

</html>

